/* 
    pink: #cb7bac 
    teal: #55b6ae
    yellow: #eaa327
    blue: #5968a3
*/

h1{
    text-align: center;
    color: white;
    background-color: #55b6ae;
    height: 70px;
    padding-top:30px;
    font-size: 45px;
    letter-spacing: .05em;
    border-radius: 10px;
}